
h1 {

  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 50px;
  color: rgb(22, 26, 26);
  text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.learn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  justify-content: space-evenly;
  width: 100%;
}

.learn-btn {

   min-width: 250px;
}
.DsaContainer{
    float: left;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 50vh;
    width: 30vw;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 40px;
}
.DsaSection {
  float: left;
  /* border: 2px solid #e2e2e2; */
  height: 50vh;
  width: 30vw;
  margin-bottom: 10px;
  border-radius: 5px;
  animation: shake 3s;
}

.WebDevContainer{
    float: right;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 50vh;
    width: 30vw;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 40px;

}

.WebDevSection {
  float: right;
  /* border: 2px solid #e2e2e2; */
  width: 25vw;
  height: 50vh;
  margin-bottom: 10px;
  border-radius: 5px;
  animation: shake 3s;
}

button{
    padding: 8px;
    background-color: #2193b0;
    color: aliceblue;
    border-radius: 10px;
}

/* @media query */

@media (max-width: 768px) {
  .learn-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 180px;
    margin-bottom: 80px;
  }

  .DsaSection{
    min-height: 224px;
    min-width: 224px;
    margin-bottom: 10px;
  }
  .WebDevSection{
        min-height: 224px;
        min-width: 224px;
  }


}

@keyframes shake {
    0% {
      transform: translateY(-2px);
    }
    50% {
      transform: translateY(2px);
    }
    100% {
      transform: translateY(-2px);
    }
  }