
/* *{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
} */

ul{
    list-style: none;
}

.container{
    /* max-width: 1170px; */
    margin: auto;
} 
.row{
    display: flex;
    flex-wrap: wrap;
}

.footer{
  padding: 70px 0;
  position: relative;
  z-index: 9999;
  color: rgb(255, 255, 255); 

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2), 0px -4px 5px 0px rgba(0, 0, 0, 0.14), 0px -1px 10px 0px rgba(0, 0, 0, 0.12);
}

.footer-col{
    width: 25%;
    padding: 0 15px;
    text-align: center; 
}

#light .footer {

    background: linear-gradient(335deg, #6e3cb5 0, #5c36b3 25%, #4530b2 50%, #232bb1 75%, #0028af 100%);

}

#dark .footer {

    background-color: #000000;
    background: linear-gradient(147deg, #000000 0%, #434343 74%);
    color: white;
}
  
  .footer-col ul li:hover {
    transform: scale(1.05);
  }
  .footer-col:hover {
    transform: scale(1.05);
  }

@media (max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}